@model WEBPJ.Info.Compra_Info
@{
    ViewBag.Title = "Anular compra";
    if (string.IsNullOrEmpty(@WEBPJ.Helps.SessionFixed.IdUsuario))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Anular", "Compra", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
    @Html.HiddenFor(q => q.IdCompra);
    @Html.HiddenFor(q => q.Precio, new { @id= "Precio" });
    @Html.HiddenFor(q => q.Total, new { @id = "Total" });
    @Html.HiddenFor(q => q.Calificacion, new { @id = "Calificacion" });
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" });

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="IdProveedor">Proveedor*</label>
                    @Html.DropDownListFor(q => q.ProvCodigo, new SelectList(ViewBag.lst_proveedor, "Codigo", "Nombre"), new { @class = "form-control", @id = "ProvCodigo" })
                    @Html.ValidationMessageFor(q => q.ProvCodigo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="Descripcion">Producto</label>
                    @Html.DropDownListFor(q => q.IdProducto, new SelectList(ViewBag.lst_productos, "IdProducto", "Descripcion"), new { @class = "form-control", @id = "IdProducto" })
                    @Html.ValidationMessageFor(q => q.IdProducto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Descripcion">Fecha</label>
                    @Html.DevExpress().DateEditFor(q => q.Fecha, settings =>
                    {
                        settings.Name = "Fecha";
                        settings.Properties.UseMaskBehavior = true;
                        settings.Properties.EditFormat = EditFormat.Date;
                        settings.Properties.EditFormatString = "dd/MM/yyyy";
                        settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                        settings.Properties.AllowMouseWheel = false;
                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                        settings.Properties.AllowMouseWheel = false;
                    }).GetHtml()
                    @Html.ValidationMessageFor(q => q.Fecha, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Cantidad">Usuario</label>
                    @Html.DropDownListFor(q => q.IdUsuario, new SelectList(ViewBag.lst_Usuarios, "IdUsuario", "Nombre"), new { @class = "form-control", @id = "IdUsuario", @disabled = "disabled" })
                    @Html.ValidationMessageFor(q => q.IdUsuario, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Cantidad">Estado</label>
                    @Html.DropDownListFor(q => q.Estado, new SelectList(ViewBag.lst_Estado, "Key", "Value"), new { @class = "form-control", @id = "Estado", @disabled = "disabled" })
                    @Html.ValidationMessageFor(q => q.Estado, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Cantidad">Cantidad</label>
                    @Html.TextBoxFor(q => q.Cantidad, new { @class = "form-control", @id = "Cantidad" })
                    @Html.ValidationMessageFor(q => q.Cantidad, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Cantidad">Comentario</label>
                    @Html.TextBoxFor(q => q.Comentario, new { @class = "form-control", @id = "Comentario" })
                    @Html.ValidationMessageFor(q => q.Comentario, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        @Html.Action("GridViewPartial_CompraProductoDetalle")
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-danger">Anular</button>
        <a class="btn btn-default" href="@Url.Action("Index", "Compra", new { Area ="General" }, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

<script type="text/javascript">
$(function () {
});
</script>
